/* reset */
button {
  all: unset;
}

.selectContent {
  .selectHeader {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 13.125rem;
    height: 60px;
    padding: 12px;

    font-family: Roboto, 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    color: var(--light-100, #fff);

    background: var(--color-dark-700);
    border: 1px solid white;
    border-radius: 3px 3px 0 0;

    & img {
      width: 16px;
      height: 16px;
    }

    &:hover {
      color: var(--color-light-100);
      background: var(--color-dark-100);
    }
  }

  .optionsContainer {
    width: 13.125rem;
    margin: 0;
    padding: 0;

    background: var(--color-dark-700);
    border: 1px solid white;

    li {
      cursor: pointer;
      padding: 12px;
      list-style-type: none;

      &:hover {
        color: #a27fff;
        background: var(--primary-900, #382766);
      }
    }
  }
}
